@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#002850b3, #000a28b3);
    background-size: cover;
    background-position: center;
    color: white;
}



.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #002850b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

.btn:hover {
    background: black;
}

/* Sections */
section {
    padding: 40px 20px;
    text-align: center;
}

.details,
.register {
    background: linear-gradient(#002850b3, #000a28b3);
    margin: 20px;
    border-radius: 8px;
    padding: 30px;
}

.schedule ul {
    list-style: none;
    padding: 0;
}

.schedule li {
    margin: 10px 0;
    font-size: 18px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}